[credential "https://source.developers.google.com"]
	helper = gcloud.sh
[credential "https://dev.azure.com"]
	useHttpPath = true

[alias]
	tree = log --graph --oneline --decorate --all
	graph = log --graph --oneline --decorate
	st = status -sb
	dif = "!f() { git diff \"$@\" -- . ':(exclude)pnpm-lock.yaml'; }; f"
	dd = dif
[core]
	whitespace = trailing-space,space-before-tab,tab-in-indent
	excludesfile = ~/.gitignore_global
	editor = code --new-window --wait
	pager = delta
[delta]
	navigate = true    # use n and N to move between diff sections
	line-numbers = true
	diff-so-fancy = true
	syntax-theme = base16
	blame-palette = "#222222 #444444 #444477 #447744 #774444"
	# delta detects terminal colors automatically; set one of these to disable auto-detection
	# dark = true
	# light = true
[diff]
	colorMoved = dimmed-zebra
	algorithm = histogram
	mnemonicPrefix = true
	renames = true
[http]
	cookiefile = ~/.gitcookies
[include]
	path = .gitconfig.local
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = zdiff3
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[user]
	name = Christopher Masto
	email = chris@masto.com
	signingkey = BA50C79F4A2E24C0
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[fetch]
	prune = true
	pruneTags = true
	all = true
[commit]
	verbose = true
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[pull]
	rebase = true
