[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://source.developers.google.com"]
	helper = gcloud.sh
[credential "https://dev.azure.com"]
	useHttpPath = true
[http]
	cookiefile = /Users/chris/.gitcookies
[user]
	name = Christopher Masto
	email = chris@masto.com
[alias]
	tree = log --graph --oneline --decorate --all
	graph = log --graph --oneline --decorate
	st = status -sb
[core]
	whitespace = trailing-space,space-before-tab,tab-in-indent
	excludesfile = /Users/chris/.gitignore_global
[push]
	default = simple
[init]
	defaultBranch = main
[include]
	path = .gitconfig.local
