[color]
	ui = auto
[alias]
	tree = log --graph --oneline --decorate --all
	graph = log --graph --oneline --decorate
	st = status -sb
[branch]
	autosetuprebase = always
[core]
	whitespace = trailing-space,space-before-tab,tab-in-indent
[push]
	default = current
